.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 12px;
    padding-left: 12px;
    padding-right: 12px;
}

.button-big {
    height: 80px;
}

.soldout-badge {
    width: 100px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.nav-fix {
    position: fixed;
    width: 100vw;
    z-index: 3;
}

.carousel-space {
    margin-top: 56px;
}